# django-read-only-admin
# .gitignore

.~*
.*.swp
*.pyc
*.log
*.pot
*.pyo
*.pyd
*~
*.orig
*.bak
.DS_Store
*.save
.idea/*
*sublime*
*geany*
*komodo*
.env/*
build/*
dist/*
*.egg-info/*
tmp/*
logs/*
parts
.project
.pydevproject
.settings/*
media/*
data/db/*
static/*
*.pid
components/*
bower_components/*
node_modules/*
error-pages/*
