# django-read-only-admin
# MANIFEST.in

include README.rst
include MIT-LICENSE
include AUTHORS
include read_only_admin/templates/read_only_admin/modern/change_form.html
include read_only_admin/templates/read_only_admin/legacy/change_form.html
include read_only_admin/templates/read_only_admin/includes/modern/fieldset.html
include read_only_admin/templates/read_only_admin/includes/legacy/fieldset.html
include read_only_admin/templates/admin/pagination.html
