# django-read-only-admin
# MANIFEST.in


prune tests*
include README.rst
include MIT-LICENSE
include AUTHORS
recursive-include read_only_admin *.po
recursive-include read_only_admin *.mo
include read_only_admin/templates/read_only_admin/change_form.html
include read_only_admin/templates/read_only_admin/includes/fieldset.html
include read_only_admin/templates/admin/pagination.html
