# django-read-only-admin
# MANIFEST.in

include README.rst
include MIT-LICENSE
include AUTHORS
include read_only_admin/templates/read_only_admin/includes/modern/fieldset.html
include read_only_admin/templates/read_only_admin/includes/old/fieldset.html
